*{
    padding: 0%;
    margin: 0%;
    border: 0%;

}

.cuadropequeño{
    background-color: #946c3c;
    width: 357px;
    height: 15vh;
    border: 1px solid #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.cuadroIzquierdo{
    background-color:#626262;
    width: 357px ;
    height: 85vh;
    border: 2px solid #FFFFFF;
    
}

h3{
    color: #fff;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 49px;
}
.lista{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    border-bottom: 2px solid #946c3c;
    

}
a{
    color: white;
    text-decoration: None
}
a:hover{
    color: #000;
}
.logo{
   
    margin-left: 50px;
    width:100px ;
    height: 100px;
}
#ajustar{
    display: flex;
    flex-direction: row;
    
}

.cuadroprincipal{
    background: rgba(0, 0, 0, 0.8);
    width: 1088px ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cuadroInfo{
    
    
    width: 864px ;
    height: 65vh;
   
    background: rgba(156, 156, 156, 0.1);
    border: 2px solid #946C3C;
    border-radius: 10px;
    margin-top:  120px;
}
h1{
    position: absolute;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 66px;
    color: #946c3c;
    margin-top: 20px;
}
.imgprin{
    width:215px ;
    height: 200px;
    
}

.cuadroimagen{
   
    position: absolute; 
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2);
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 15px;
    color: white;
    font-size: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    
    
    
}


.imgprin{
    grid-column: 1;
    grid-row: 2;
    opacity: 0;
    
    margin-left: 300px;
    
    
  }
  .arriba{
      justify-content: center;
      grid-column: 1;
      grid-row: 1;
      width: 700px;
      opacity: 0;
      margin-left: 250px;
      
  }
  .abajo{
      grid-column: 1;
      grid-row: 3;
      opacity: 0;
      width: 800px;
      font-size: 16px;

      
  }
  


#label2:hover{
    background-color: #946c3c;
}
#label3:hover{
    background-color: #946c3c;
}
#label4:hover{
    background-color: #946c3c;
}
#label5:hover{
    background-color: #946c3c;
}
#label6:hover{
    background-color: #946c3c;
}

label{
    display: none;
}
#label2{
    position: absolute;
    top:410px;
    margin-left: 240px;
display:block;

width: 55px;
    height: 17px;
    background-color: #626262;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
#sboton1{
 
display:none;
}
#sboton2{
    
display:none;
}
#sboton3{

display:none;
}
#sboton4{

display:none;
}
#sboton5{

display:none;
}
#label3{
    position: absolute;
    top:410px;
    margin-left: 320px;
display:block;
width: 55px;
    height: 17px;
    background-color: #626262;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
#label4{
    position: absolute;
    top:410px;
    margin-left: 400px;
display:block;
width: 55px;
    height: 17px;
    background-color: #626262;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
#label5{
    position: absolute;
    top:410px;
    margin-left: 480px;
display:block;
width: 55px;
    height: 17px;
    background-color: #626262;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
#label6{
    position: absolute;
    top:410px;
    margin-left: 560px;
display:block;
width: 55px;
    height: 17px;
    background-color: #626262;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.cuadroimagen input[type="radio"]:checked ~ .arriba{
    opacity:1;
}
.cuadroimagen input[type="radio"]:checked ~ .imgprin{
    opacity:1;
}
.cuadroimagen input[type="radio"]:checked ~ .abajo{
    opacity:1;
}

#ocultar{
    display:none;
}
#menuha{
    display: none;
}
.imgmenu{
        position: absolute;
        top :26px;
        right: 0px;
        
}
@media(max-width:500px){

    label{
        display:block ;
        margin-left:60px;
        
    }
    .cuadropequeño{
        width:500px ;
    }
    h3{
        margin-right: 30px;
        
    }
    .cuadroIzquierdo{
        display:none;
    }
    .menuhambur input[type="checkbox"]:checked ~ .cuadroIzquierdo{
        display: block;
        width: 500px;
            
    }
    #ajustar{
        flex-direction: column;
        
    }
    .cuadroprincipal{
        display: flex;
        
        justify-content: flex-start;
        align-items: center;
        width:500px ;
        height: auto;
        
       
    }
    .cuadroInfo{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 10px;
        width:450px ;
        height: auto;
        
    }
    
    .imgprin{
        width:182px ;
        height:180px ;
        margin-left: 100px;
        grid-column: 1;
        grid-row: 2;
        opacity: 1;
        
        
      }
      .arriba{
          width:400px ;
          grid-column: 1;
          grid-row: 1;
          opacity: 1;
          margin-left: 10px;
          
         
          
      }
      .abajo{
          grid-column: 1;
          grid-row: 3;
          opacity: 1;
          width:400px ;
      }
    h1{
        position: relative;
        top:0px;
        width: 300px;
        font-size: 50px;
    }
   .botones{
       display: none;
   }
#label2{
       display:none;
}
#label3{
    display:none;
}
#label4{
    display:none;
}
#label5{
    display:none;
}
#label6{
    display:none;
}
.cuadroimagen{
    position: relative;
}
    }